:root {
    --blue: #4A919Eaa;
    --white: #FFFFFF;
    --black: #000000;
    --pink: #EBACA2;
    --darkblue: #1C2942;
    --darkblue2: #212E53;
    --clairblue : #B8CBD0;
  }
  /*bordure*/
  html{
    /*background: #B8CBD0;
    padding: 0 15%;
    display: block;*/
    font-family: Comic Sans MS;
  }

  body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: Comic Sans MS;
  }
/*en dessous du sommaire
li {
    list-style: circle;
    font-family: Comic Sans MS;
    padding: 6px 10px 10px 260px;
    font-size: 20px;
  }*/
  
  .list {
    list-style: circle;
    text-align: left;
  }
  .light-theme {
    --bg: var(--clairblue);
    --fontColor: var(--darkblue);
  }
  .dark-theme {
    --bg: var(--darkblue2);
    --fontColor: var(--black);
  }
  .btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .btn {
    position: absolute;
    top: 10px;
    left: 1230px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .light-theme {
    --bg: var(--clairblue);
    --fontColor: var(--darkblue);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  
  .dark-theme {
    --bg: var(--darkblue2);
    --fontColor: var(--black);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  /*premiere ligne du site*/
h1 {
  text-align: center;
  text-decoration: none;
  font-family: Comic Sans MS;
  /*filter: drop-shadow(10px 10px 10px #A4BBFF);*/
  padding-top: 80px;
}

.image{
    padding-top: 70px;
    padding-left: 50px;
}

/*sommaire + texte
ul {
  font-family: Comic Sans MS;
  font-size: 15px;
}*/

/* la c'est le sommaire*/
p#msg {
  font-family: Comic Sans MS;
  font-style: oblique;
  text-decoration: underline;
  font-size: 150%;
  padding: 40px 20px 0px 240px;
}

/* premier texte*/
.bla { 
  top: 20%;
  font-family:Comic Sans MS;
  padding: 30px 30px 30px 50px;           /*haut droit bas gauche*/
  font-size: 100%;
  margin: 10px 50px 180px 400px;           /*haut droit bas gauche*/
  width: 35em;
  background: #FBC02D;
  border-radius: .5em;
  box-shadow: 0 0.3em 1em #000;
  /*border: solid;
  border-radius: 10px 100px / 120px;*/
}

.log{
  padding-left: 450px;
  padding-top: 50px;
  font-size: 110%;
  color: #000;

}

/*autre page*/
/*a{
  padding: 100px 10px 60px 200px;
  font-size: 110%;
}*/

/*test*/
p {
  font-size: 100%;
  font-family:Comic Sans MS;
  /*font-style:normal;*/
}

.relou {
  font-family:Comic Sans MS;
  padding: 10px 30px 20px 40px;        /*haut droit bas gauche*/
  font-size: 100%;
  margin: 20px 180px 30px 400px;       /*haut droit bas gauche*/
  width: 30em;
  background: #8FBC8F;
  border-radius: .5em;
  box-shadow: 0 0.3em 1em #000;
  /*border: solid;
  border-radius: 10px 100px / 120px;*/
}

.sub{
  color: #000;
  padding-left: 450px;
  padding-top: 50px;
  font-size: 110%;
}

.image2{
    padding-top: 70px;
    padding-left: 50px;
}

.image3{
    padding-top: 70px;
    padding-left: 50px;
}

.image4{
    padding-top: 70px;
    padding-left: 50px;
}

.girafe{
  color: #000;
  padding-left: 450px;
  padding-top: 50px;
  font-size: 110%;
}

.last{
    font-family:Comic Sans MS;
    padding: 10px 30px 20px 40px;        /*haut droit bas gauche*/
    font-size: 100%;
    margin: 20px 180px 220px 400px;       /*haut droit bas gauche*/
    width: 40em;
    background: #1E88E5;
    border-radius: .5em;
    box-shadow: 0 0.3em 1em #000;
}

.yo{
  color: #000;
  padding-left: 450px;
  padding-top: 50px;
  font-size: 110%;
}

.hello{
  font-family:Comic Sans MS;
  padding: 10px 30px 20px 40px;        /*haut droit bas gauche*/
  font-size: 100%;
  margin: 20px 180px 130px 400px;       /*haut droit bas gauche*/
  width: 35em;
  background: #EC407A;
  border-radius: .5em;
  box-shadow: 0 0.3em 1em #000;
}

#header-nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: darkcyan;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}
  
.logo-img{    
    width: 80px;
    cursor: pointer;
}
  
.nav-link{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    
.link{
    padding: 20px 25px;
    font-size: 18px;
    font-family: Comic Sans MS;
}
  
.link, a:hover{
    color: lightgrey;
}
  
.link,a{
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: white;
}
  
#logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#navbar{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}